body {
}

.darkMode{
    background-color: #000000;
    border-color: #dddddd;
}
.lightMode{
    background-color: #dddddd;
    border-color: #000000;
}
.documentationView{
    font-family: "Lucida Sans";
    color: #000000
}
.documentationList{
    list-style-type: none;
}