@page "/documentation"
<title>Documentation API</title> 
<h1>Documentation</h1>
<div class="@(_darkMode?"darkMode":"lightMode")" >Test</div>

<div>
    <div><p>@_currentDoc</p></div>
    <div>
        <ul class="documentationList" style="flex:auto; grid-auto-rows:auto">
            <li>
                <button @onclick="() => ChangeTextDisplay(_documentationText[0], ref _currentDoc)">t1</button>
                <p>Primative types</p>
            </li>
            <li>
                <button @onclick="() => ChangeTextDisplay(_documentationText[1], ref _currentDoc)">t2</button>
                <p>Creating functions with the framework</p>
            </li>
            <li>
                <button @onclick="() => ChangeTextDisplay(_documentationText[2], ref _currentDoc)">t3</button>
                <p>Looping and conditionals</p>
            </li>
        </ul>
    </div>
</div>


@code {      
    private bool _darkMode = false;
    private string _currentDoc = "";
    private List<string> _documentationText = new List<string>()
    {
        "The following documentation ...",
        "Is generated ...",
        "By time "
    };
    private List<ElementReference> _documentationElements = new List<ElementReference>();

    private void ChangeTextDisplay(string newText, ref string element)
    {
        element = newText;
    }

}
