@page "/documentation"
@page "/documentation/{darkMode:bool}"

<div class="@(darkMode?"darkMode":"lightMode")">Dark Mode Test</div>

<div style="align-items:flex-start">
    <div><p>@_currentDoc</p><p>test</p></div>
    <div class="noPadFlex" style="display:inline">
        <ul style="flex:auto; grid-auto-rows:auto">
            <li class="documentationList" style="margin:0px;flex:auto; align-content:space-between">
                <button @onclick="() => ChangeDocumentation(_documentationText[0], ref _currentDoc)">t1</button>
                <p>Primative types</p>
            </li>
            <li class="documentationList">
                <button @onclick="() => ChangeDocumentation(_documentationText[1], ref _currentDoc)">t2</button>
                <p>Creating functions with the framework</p>
            </li>
            <li class="documentationList">
                <button @onclick="() => ChangeDocumentation(_documentationText[2], ref _currentDoc)">t3</button>
                <p>Looping and conditionals</p>
            </li>
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public bool darkMode { get; set; }
    private string _currentDoc = "";
    private List<string> _documentationText = new List<string>()
    {
        "The following documentation ...",
        "Is generated ...",
        "By time "
    };
    private List<ElementReference> _documentationElements = new List<ElementReference>();
    private Tuple<string, List<ElementReference>> _docElements;

    private void ChangeDocumentation(string newText, ref string element)
    {
        element = newText;
    }
}
